body{
    margin: 0 auto;
    font-family: monospace;
    font-size: 5em;
    padding:1em;
}
input{
    width: 100%;
    border-radius: 0.1em;
    height: 1em;
    text-align: right;
}
.btn{
    width: 100%;
    height: 3em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 2px #333333;
    margin:0.5em;

}